<mat-toolbar class="custom-toolbar">
  <mat-label class="range-label"> Select range for data: </mat-label>
  <mat-form-field >
    <mat-select [ngModel]="selectedPageSize" name="selectedSize" #selected (selectionChange)="selectionSizeChange(selected.value)">
      <mat-option *ngFor="let size of sizes" [value]="size.value" >
        {{size.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-label class="page-length-label"> Data fetching from, Page: <b>{{activePage}}</b>  of <b>{{pages.length}}</b> </mat-label>
  <button mat-icon-button [disabled]="activePage ==1" (click)="onClickPage(1)">
    <mat-icon>first_page</mat-icon>
  </button>
  <button mat-icon-button [disabled]="activePage ==1" (click)="onClickPage(activePage - 1)">
    <mat-icon>navigate_before</mat-icon>
  </button>
  <button mat-icon-button [disabled]="activePage ==pages.length" (click)="onClickPage(activePage + 1)">
    <mat-icon>navigate_next</mat-icon>
  </button>
  <button mat-icon-button [disabled]="activePage ==pages.length" (click)="onClickPage(pageCount)">
    <mat-icon>last_page</mat-icon>
  </button>
</mat-toolbar>