mat-toolbar{
    font: 400 15px/32px Roboto, "Helvetica Neue", sans-serif;
    height: 34px;
    background-color: #f6f7f7;;
}

.range-label{
    margin-right: 20px;
}

.page-length-label{
    margin-right: 5px;
}