<div class="header-box">
  <form>
    <a href="#">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      S3 Innovate Internal Test: Submitted by Saiful islam
    </a>
  </form>
</div>

<div class="card m-4">
  <h3 class="card-header"><i class="fa fa-desktop" aria-hidden="true"></i> &nbsp; Search Inputs</h3>
  <div class="card-body">
    <form [formGroup]="searchForm">
      <div class="form-row m-2">
        <div class="col-md-12 row">
          <div class="col-md-6">
            <div class="row">
              <div class="form-group col-md-4">
                <label for="inputState">Building</label>
                <select id="inputState" class="form-control selectpicker" (mouseover)="mouseover($event)"
                  formControlName="buildingId">
                  <option value="" selected disabled>Choose Building</option>
                  <option *ngFor="let obj of buildingList" ngValue="{{obj.id}}">{{obj.name}}</option>
                </select>
              </div>
              <div class="form-group col-md-4">
                <label for="inputState">Object</label>
                <select id="inputState" class="form-control selectpicker" (mouseover)="mouseover($event)"
                  formControlName="objectId">
                  <option value="" selected disabled>Choose Object</option>
                  <option *ngFor="let obj of objectList" ngValue="{{obj.id}}">{{obj.name}}</option>
                </select>
              </div>
              <div class="form-group col-md-4">
                <label for="inputState">Data Field</label>
                <select id="inputState" class="form-control selectpicker" (mouseover)="mouseover($event)"
                  formControlName="datafieldId">
                  <option value="" selected disabled>Choose Data Field</option>
                  <option *ngFor="let obj of dfList" ngValue="{{obj.id}}">{{obj.name}}</option>
                </select>
              </div>
            </div>

          </div>
          <div class="row col-md-6 pl-0 pr-0 btndiv">
            <div class="col-md-2"></div>
            <div class="form-group col-md-7">
              <label for="inputState">Datetime Range</label>
              <div class="input-wrapper">
                <input class="form-control text-center" name="daterange" readonly formControlName="daterange"
                  [selectMode]="'range'" [owlDateTimeTrigger]="dtPicker3" [owlDateTime]="dtPicker3">
                <owl-date-time #dtPicker3></owl-date-time>
              </div>

            </div>
            <div class="form-group col-md-3 pl-0 pr-0 text-right">
              <button type="submit" (click)="onSearchClick()"
                [disabled]="!searchForm.valid ||searchForm.get('daterange').value[1]==null"
                class="btn btn-primary mbutton"><i class="fa fa-search" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp; Search </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="card m-4">
  <h3 class="card-header"><i class="fa fa-area-chart" aria-hidden="true"> &nbsp;</i> Time Series Data</h3>
  <div class="card-body chart-card-body">
    
    <span [ngClass]="spinnerClass" ></span>
    <div class="spinner-overlay" *ngIf="spinnerClass!==''"></div>
    <highcharts-chart [Highcharts]="highcharts" [options]="chartOptions" >
    </highcharts-chart>
    <span class="please-wait" *ngIf="spinnerClass!==''">Loading... Please wait! </span>

  </div>
</div>
<!-- <div class="card m-4">
  <h3 class="card-header"><i class="fa fa-area-chart" aria-hidden="true"> &nbsp;</i> Time Series Data</h3>
  <div class="card-body">
    <highcharts-chart style="width: 100%; display: block" [Highcharts]="highcharts1" [constructorType]="'stockChart'"
      [options]="chartOptions1">
    </highcharts-chart>
  </div>
</div> -->
<router-outlet></router-outlet>