@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,100% {
    top: 100%;
  }
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,100% {
    right: 100%;
  }
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,100% {
    bottom: 100%;
  }
}

.header-box {
  width: 100%;
  margin: auto;
  text-align: center;
}

.header-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #1c4c74;
  font-size: 20px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 1.5rem;
  letter-spacing: 4px
}

.header-box a span {
  position: absolute;
  display: block;
}

.header-box a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #1c4c74);
  animation: btn-anim1 2s linear infinite;
}

.header-box a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #1c4c74);
  animation: btn-anim2 2s linear infinite;
  animation-delay: 1.25s
}

.header-box a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #1c4c74);
  animation: btn-anim3 2s linear infinite;
  animation-delay: 1.5s
}

.header-box a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #1c4c74);
  animation: btn-anim4 2s linear infinite;
  animation-delay: 1.75s
}
