/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@import "./assets/picker.min.custom.css";

body{
    background-color: rgba(28,76,116, .02) !important;
    font-family:  Roboto, "Helvetica Neue", sans-serif;

}
  
.m-4{
    margin: 1.5rem;
}

.mat-card::after{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  right: 10px;
  left: auto;
  width: 50%;
  top: 80%;
  max-width:300px;
  background:  #1c4c74;
  -webkit-box-shadow: 0 15px 10px  #1c4c74;
  -moz-box-shadow: 0 15px 10px  #1c4c74;
  box-shadow: 0 15px 10px  #1c4c74;
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
}

mat-card-header{

  .material-icons{
    line-height: unset !important;
  }

}

.mat-card{
  padding-bottom: 0;
}

.mat-card-title{
  font-weight: 400;
} 

.mat-card-content{
  margin-top: 20px;
}

mat-form-field{
  margin-right: 20px;
}

.custom-toolbar{

  .mat-form-field-infix{
      width:75px !important;
  }
}
